body {
	font-family:'play', arial, sans;
	padding:0;
	margin:0;
}
#menu {
	width:100%;
	background-color:#dedede;
	position:relative;
	height:40px;
	vertical-align:middle;
	border-bottom:1px solid #eee;

}
#menu a {
	padding:10px;
	color:#444;
	text-decoration:none;
	display:inline-block;
	margin: 0 0 10px 0;
	height:20px;
	vertical-align:middle;
	line-height:1.2em;
	border-right:1px solid #bbb;
}
#menu a:hover {
	background-color:#ccc;
	color:#000;
}
#menu a:first-child {
	border-left:1px solid #bbb;
}
#menu a#addPerson {
	padding-left:50px;
	background-image:url('../img/head.png');
	background-repeat: no-repeat;
	background-position: 10px center;
}
#menu a#addLink {
	padding-left:50px;
	background-image:url('../img/link.png');
	background-repeat: no-repeat;
	background-position: 10px center;
}
#menu a#home {
	font-weight:bold;
}
#forms table th {
	text-align:right;
}
#forms {
	position:absolute;
	background:white;
	padding:10px;
	border:1px solid #ccc;
	border-top:0;
	left:20px;
	background-color:#eee;
	border-radius: 0 0 15px 15px;
}
#forms form {
	margin:0;
}
#viewport {
	margin-top:10px;
}
svg {
	font-family: 'play', 'arial', sans;
}

input {
	font-family: 'play', 'arial', sans;
}

form.addForm {
	text-align : center;
}
