doctype html
html
  head
    title= title
    script(src='/3p/semnet/semnet.js')
    <!-- script(src='http://d3js.org/d3.v3.min.js') -->
    script(src='/3p/d3/d3.min.js')
    script(src='/js/request.js')
    script(src='/js/semexp/semexpgraph.js')
    script(src='/js/semexp/semexpmodel.js')
    script(src='/js/semexp/semexpmenu.js')
    script(src='/js/semexp/semexptools.js')
    script(src='/js/semexp/semexp.js')
    script(src='/js/mic.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content