doctype html
html
  head
    title= title
    script(src='/3p/semnet/semnet.js')
    <!-- script(src='http://d3js.org/d3.v3.min.js') -->
    script(src='/3p/d3/d3.min.js')
    script(src='/js/request.js')
    script(src='/semexp/semexpgraph.js')
    script(src='/semexp/semexpmodel.js')
    script(src='/semexp/semexpmenu.js')
    script(src='/semexp/semexptools.js')
    script(src='/semexp/semexp.js')
    script(src='/js/mic.js')
    link(rel='stylesheet', href='/semexp/style.css')
  body
    block content