body {
  padding: 50px;
  background-color : #222;
  padding : 0;
  width : 100vw;
  height : 100vh;
}

body > svg
{
	margin : 0;
}

body, input, select
{
	font: 14px "FreeSans", Helvetica, Arial, sans-serif;
}

input, select
{
	border : 1px solid #666;
	background-color : #333;
	color : #ddd;
}

input[type=submit],
input[type=button]
{
	border : 1px solid #777;
	background-color: #666;
}
input[type=submit]:hover,
input[type=button]:hover
{
	background-color : #777;
	cursor : pointer;
}

a {
  color: #00B7FF;
}

/* menu */

.controls {
	background-color : rgba(120,120,120,0.2);
	display: flex;
	flex-flow : column nowrap;
	position: fixed;
	left : 10px;
	bottom : 10px;
	padding : 10px;
	border : 1px solid #444;
	align-items : stretch;
}

.controls > *
{
	border : none;
	display : flex;
	flex-flow : row nowrap;
	flex: 0;
	align-items : flex-start;
}

.controls > * + *
{
	margin-top : 5px;
	padding-top : 5px;
	border-top : 1px solid #444;
}

.controls > * > *
{
	max-width : 10em;
	flex : 1;
}

.controls > * > * + *
{
	margin-left : 5px;
}


.controls input[type=button],
.controls input[type=submit]
{
	flex : none;
	width:5em;
}

.controls label
{
	color : #bababa;
	width : 8em;
	text-align: right;
	flex : none;
	display : inline-block;
}

/* svg stuff - move to svg doc */

.node *
{
	cursor: move;
}

.node circle
{
	fill : #444433;
	stroke : #666633;
	stroke-width : 2;
}

.node.active circle
{
	fill : #666644;
}

.node text
{
	fill : #fff;
	font-weight: bold;
	pointer-events : 'none';
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.link
{
	stroke : #999933;
	stroke-width : 10;
}	  

.tools .tool
{
	fill : #888;
	stroke : #aaa;
	stroke-width: 1;
	opacity : 0.8;
}

.tools .connect
{
	background-image : url('../3p/PicolSigns/picol_latest_prerelease_svg/relevance.svg');
}

.connLine
{
	stroke-width : 5;
	stroke : #883333;
	cursor : move;
}