body {
  background-color : #222;
  display : flex;
  flex-direction : row;
  font-family: monospace;
  padding : 0;
  margin : 0;
}

body, input, select, label
{
	font: 14px "FreeSans", Helvetica, Arial, sans-serif;
}

input, select
{
	border : 1px solid #666;
	background-color : #333;
	color : #ddd;
}

input[type=submit],
input[type=button]
{
	border : 1px solid #777;
	background-color: #666;
}
input[type=submit]:hover,
input[type=button]:hover
{
	background-color : #777;
	cursor : pointer;
}


a {
  color: #00B7FF;
}

/**
 * Menu
 */
.controls {
	background-color : rgba(120,120,120,0.3);
	display: flex;
	order : 1;
	flex-flow : column nowrap;
	padding : 10px;
	width : 20em;
	flex : none;
	height : 100vh;
	overflow-y : auto;
	border-right : 1px solid #555;
	align-items : stretch;
}

.controls > *
{
	border : none;
	display : flex;
	flex-flow : row nowrap;
	margin : 0;
	align-items : flex-start;
	align-content : stretch;
}

.controls > * + *
{
	margin-top : 5px;
	padding-top : 5px;
	border-top : 1px solid #555;
	align-content : stretch;
}

.controls > * > *
{
	flex : 1 1 auto;
}

.controls > * > * + *
{
	margin-left : 5px;
}

.controls * input[type=text]
{
	width : 9em;
}

.controls label
{
	color : #bababa;
	width : 3em;
	flex : none;
	text-align: right;
}

/**
 * cli
 */
.cli
{
	margin : 10px;
	background-color : rgba(0,0,0,0.5);
	position : fixed;
	bottom : 35em;
	width : 30em;
	height : 10em;
  	font-family: monospace;
}

.cli .history
{
	height : 100%;
	color : white;
	overflow-y : scroll;
}

.cli .history p
{
	display : block;
	margin : 0;
	padding : 0 5px 5px 5px;
  	font-size : 0.9em;
}

.cli .history p + p
{
	padding-top : 5px;
}

.cli .input
{
	width : 100%;
  	font-family: monospace;
}

/**
 * AutoComplete
 */
ul.dropdown-a3d44
{
  background: rgba(90,90,90,0.3);
  border : 2px solid #444;
}

li.option-7b59f
{
  background: rgba(90,90,90,0.9);
  color : #bababa;
}

li.highlighted-ea4c1

{
  color: #fff;
}

li.list-item-d13e9
{
	border-bottom: 1px solid #444;
}

div.autocomplete-container-7a26d
{
  border-radius: 0;
  border : 2px solid #999;
  background-color : rgba(0,0,0,0.3);
  flex : 0 1 4em;
}
